// Zed settings
//
// For information on how to configure Zed, see the Zed
// documentation: https://zed.dev/docs/configuring-zed
//
// To see all of Zed's default settings without changing your
// custom settings, run `zed: open default settings` from the
// command palette (cmd-shift-p / ctrl-shift-p)
{
  // Editor
  "format_on_save": "{{ .zed.format_on_save }}",
  "wrap_guides": [{{ .zed.wrap_guides }}],
  "tab_size": {{ .zed.tab_size }},
  "cursor_shape": "bar",
  "buffer_font_family": ".ZedMono",
  "buffer_font_size": 14.0,

  // Git
  "git": {
    "inline_blame": {
      "delay_ms": 3,
    },
    "blame": {
      "show_avatar": false,
    },
  },

  // Application
  "disable_ai": true,
  "ui_font_size": 15.0,
  "theme": {
    "mode": "system",
    "light": "{{ .zed.theme }}",
    "dark": "{{ .zed.theme }}",
  },
  "title_bar": {
    "show_user_picture": false,
    "show_sign_in": false,
  },
  "collaboration_panel": {
    "button": false,
  },
  "notification_panel": {
    "button": false,
  },
  "outline_panel": {
    "button": false,
  },
  "debugger": {
    "button": false,
  },
  "terminal": {
    "button": false,
  },
  "telemetry": {
    "diagnostics": false,
    "metrics": false,
  },
}
